@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href="~/css/Home.css" rel="stylesheet" type="text/css" />
}

<div class="">
    <div class="container">
        <div class="main-txt">
            <h1 class="display-4">Welcome to the Centeral Library Webpage</h1>
            <p>Established in 1754, Centeral Library stands as a beacon of knowledge, its grand halls echoing centuries of scholarship. Ornate shelves hold rare manuscripts alongside modern works, ensuring a seamless blend of tradition and accessibility. Despite its historic charm, the library offers a welcoming atmosphere with comfortable reading spaces and expert assistance. A refined catalog system allows effortless exploration, making Centeral Library a timeless sanctuary for all who seek wisdom.</p>
            <div class="btn-container">
                <a class="btn" href="/Book/List">List of Books</a>
                <a class="btn" href="/Author/List">List of Authors</a>
            </div>
        </div>
    </div>
</div>
